* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}


.navi :hover {
    background-color: rgb(245, 245, 245);
    transform: scale(1.05);
    z-index: 10;
}

.navi{
    background-color: #00ff00;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.Resume{
    background-color:rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
}
.Resume h1{
    text-align: center;
    color: #b700f9;
}
.Resume h2{
    color:goldenrod;
    font-weight: 800;
    font-style:italic;
}
.about_me{
    display: flex;
    background-color: coral;
    width: 95%;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-left: 20px;
   border: 2px solid rgb(147, 96, 0);
   margin-bottom: 10px;
}
.experience{
   display: flex;
   flex-direction: column;
   background-color: coral;
   width: 95%;
   border-radius: 10px;
   margin-left: 20px;
   border: 2px solid rgb(147, 96, 0);
   flex-wrap: wrap;
   margin-bottom: 10px;
}
.experience h3{
    font-weight: bold;
}
.experience h4{
    font-weight: bold;
}
.skills{
   display: flex;
   flex-direction: column;
   background-color: coral;
   width: 95%;
   border-radius: 10px;
   margin-left: 20px;
   border: 2px solid rgb(147, 96, 0);
   flex-wrap: wrap;
   margin-bottom: 10px;
}
.skills table {
    width: 100%;
    margin: 5px 0;
}

.skills table caption {
    text-align: left;
}

.skills table th,
.skills table td {
    border: 2px solid black; /* Черные границы 1px толщиной */
    padding: 12px 15px; /* Отступы внутри ячеек */
    vertical-align: middle; /* Центрирование по вертикали */
}

.skills table th {
    font-weight: bold;
    font-size: 1.1em;
}

.skills table :hover {
    background-color: #f0f0f0; /* Эффект при наведении */
    opacity: 0.5;
}
.experience ul{margin-left: 20px;}
.dop_info{
    display: flex;
    flex-direction: column;
    background-color: coral;
    width: 95%;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-left: 20px;
   border: 2px solid rgb(147, 96, 0);
   margin-bottom: 10px;
}

.contakts{
   margin-top: 10px;
}
